		body 
		{ 
      padding-top: 70px;
			padding-bottom: 40px;
  		color: #5a5a5a;
		}
    #globalWrapper
    {		
		width: 100%;
		height: 100%;
		border: 0px;
		background-color: transparent;
		margin: auto;
		padding: 0px;
		font-size: 100%
		}

		#content
		{
			width: 100%;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			background-color: transparent;
			padding: 0px;
			font-size: 100%;
		}

    .deletesuccess
    {
      width:100%;
      height:100%;
      border: 0px;
      background-color: #777;
      margin: 0px;
      padding: 0px;
    }

    .deletesuccess h1

    {
      font-weight: 300;
      line-height: 1;
      text-align: center;
      letter-spacing: -1px;
      width: 100%;
      font-size: 2.8rem;
      color: #fff;
      letter-spacing: 0.04em;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)

    }

/*Navigation menu */
		.navbar-wrapper 
		{
  			position: absolute;
  			top: 0;
  			right: 0;
  			left: 0;
  			z-index: 20;
		}

/* Flip around the padding for proper display in narrow viewports */
		.navbar-wrapper > .container
		 {
  			padding-right: 0;
 			padding-left: 0;
		}
		.navbar-wrapper .navbar 
		{
  			padding-right: 15px;
  			padding-left: 15px;
		}
		.navbar-wrapper .navbar .container 
		{
  			width: auto;
		}


  .col-md-4
  {
    height: 700px;
  }

  .col-md-4:hover 
  {

  }

  .col-md-4 h1
  {
    text-align: center;
    width: 100%;
    font-size: 2.8rem;
    color: #A92733;
    letter-spacing: 0.04em;
  }

  .col-md-4 p
  {
    text-align: center;
    font-size: 1.8rem;
    color: #a1835c;
    letter-spacing: 0.04em;
    font-family: "Arial", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  /*problem page*/
.col-2 .column {
  width: 49%;
}
  .ss-style-halfcircle::before,
.ss-style-halfcircle::after {
  left: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: inherit;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ss-style-halfcircle::before {
  top: -50px;
}

.ss-style-halfcircle::after {
  bottom: -50px;
}

  


/*Responsive CSS */

		@media (min-width: 768px) 
		{
  			/* Navbar positioning foo */
  			.navbar-wrapper 
  			{
    		margin-top: 10px;
  			}
  			.navbar-wrapper .container 
  			{
    			padding-right: 15px;
    			padding-left: 15px;
  			}
  			.navbar-wrapper .navbar 
  			{
    			padding-right: 0;
    			padding-left: 0;
  			}

  			/* The navbar becomes detached from the top, so we round the corners */
  			.navbar-wrapper .navbar 
  			{
    			border-radius: 4px;
  			}
    }